.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  /*
    Let's say there is a box and I gave the box width 200px.
    If I gave the box padding left 10px and box's total width is 210px.
    Because css want to keep only box's 'content' width 200px not padding+content's width of box.
    So If I want box's total width 200px, tell css to keep box's total width 200px.
    That is box-sizing: boder-box;.
    Default of box-sizing is content-box.
  */
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  /* For the position of nav__notification's anchor */
  position: relative;
}

.nav__notification {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 19px;
  bottom: 13px;
}

.nav__notificationdot {
  background-color: tomato;
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  right: -8px;
  bottom: 28px;
}
